@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
/*start global variables*/
:root {
    --main-color: #ffa500;
    --main-transition: 0.3s;
}
/*end global variables*/
/*start global code*/
body {
    text-transform: capitalize;
    font-family: "Roboto", serif;
}
ul {
    list-style: none;
}
/*end global code*/
.page {
    background-image: url("../images/login-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.page::before {
    position: absolute;
    content: "";
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
/*start setting-box*/
.page .setting-box {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    height: 200px;
    width: 120px;
    left: -70px;
    border-top-right-radius: 199px;
    border-bottom-right-radius: 199px;
    z-index: 1000;
    transition: 1s;
}
.page .setting-box.open {
    left: 0;
}
.setting-box .setting-icon {
    width: fit-content;
    position: absolute;
    right: -0px;
    top: 39%;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    background-color: white;
}
.setting-box .setting-icon i {
    color: var(--main-color);
}
.setting-box .setting-content {
    width: 70px;
    position: absolute;
    top: 8%;
    text-align: center;
}
.setting-box .setting-content h3 {
    color: black;
    font-size: 20px;
}
.setting-box .setting-content ul {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.setting-box .setting-content ul li {
    margin-bottom: 10px;
    border-radius: 20px;
    width: 50px;
    height: 25px;
    opacity: 0.4;
}
.setting-box .setting-content ul .active {
    opacity: 1;
    border: 1px solid #777;
}
.setting-box .setting-content ul li:nth-of-type(1)  {
    background-color:#ffa500;
}
.setting-box .setting-content ul li:nth-of-type(2)  {
    background-color: #4635B1;
}
.setting-box .setting-content ul li:nth-of-type(3)  {
    background-color:#5CB338;
}
.setting-box .setting-content ul li:nth-of-type(4)  {
    background-color: #f00612a4;
}

/*end setting-box*/
.container {
    top: calc(100vh / 2);
    transform: translateY(-50%);
    border-radius: 10px;
    opacity: 0.9;
    gap: 20px;
}
@media (max-width:768px) {
    .container {
        flex-direction: column;
    }
}
/*start welcome*/
.container .welcome {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container .welcome h1 {
    font-size: 25px;
}
.container .welcome h1 span {
    color: var(--main-color);
    font-size: 50px;
}
.container .welcome p {
    color: #777;
    line-height: 1.7;
}
.container .welcome .links {
    border-top: 1px solid #77777749;
    width: 100%;
    box-shadow:0px -6px 7px 0px #77777746;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffa6007a;
    height: 30px;
    border-radius: 20px;
}
.container .welcome .links i{
    
}
/*end welcome*/
/*start login*/
.container .login {
    position: relative;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: -1px 1px 20px 0px #777;
    margin: 20px;
    padding: 10px 10px;
}
.container .login::after {
    position: absolute;
    content: "";
    width: 0;
    height: 75%;
    background-color: transparent;
    top: 18px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
}
.container .login .details {
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    transition: var(--main-transition);
}
.container .login .details:hover{
   transform: translateX(30px);
}
.container .login .details h3 {
    color: var(--main-color);
    margin: 0 0 20px 0;
    text-align: center;
}
.login .details .form {
    padding: 0 10px;
}
.login .details .form div{
    margin: 0 0 30px 0;
}
.login .details .form label {
    color: #777;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 2px;
}
.login .details .form input[type = "text"],
.login .details .form input[type = "password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #7777777c;
}
.login .details .form input[type = "text"]:focus,
.login .details .form input[type = "password"]:focus {
    border: transparent;
}
.login .details .form .checkbox {}
.login .details .form .checkbox input[type = "checkbox"]{}
.login .details .form .checkbox label{}
.login .details .form .checkbox .forgot{
    margin-left: 100px;
}
.login .details .form .submit {
}
.login .details .form input[type = "submit"] {
    background-color: white;
    margin: auto;
    display: block;
    color: var(--main-color);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px;
   transition: var(--main-transition);
   border: 1px solid var(--main-color);
   box-shadow: 0 0 0;
}
.login .details .form input[type = "submit"]:hover {
    box-shadow: 0 0 16px var(--main-color);
}
/*end login*/